body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: lightpink;
}

.title{
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: #141c31;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#demo{
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: #141c31;
    letter-spacing: 1px;
    font-style: italic;
}

.piano{
    width: 300px;
    height: 200px;
    display: contents;
    margin: 0 auto;
    background-color: orangered;
    margin-top: 30px;
}

.white-key{
    width: 30px;
    height: 200px;
    display: inline-block;
    border: solid black 2px;
    box-shadow: 2px 5px;
    background-color: white;
    color: black;
}

.black-key{
    width: 25px;
    height: 100px;
    display: inline-block;
    background-color: #141c31;
    color: whitesmoke;
    position: absolute;
    margin-left: -12px;
    padding: 0px;
}

.white-keynote{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 175px;
    color: #141c31;
}

.black-keynote{
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
}

#lyrics{
    width: 400px;
    height: 240px;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 50px;
    background-color: orangered;
}

#column-one, #column-two, #column-three, #column-four, #column-five, #column-six, #column-seven, #column-optional{
    width: 90px;
    display: inline;
    text-align: center;
    margin-top: 30px;
}

#column-optional{
    display: none;
}

#word-one, #word-two, #word-three, #word-four, #word-five, #word-six, #word-optional{
    background-color: whitesmoke;
    width: 90px;
    height: 25px;
    padding-top: 10px;
    letter-spacing: 5px;
    color: #141c31;
}